<header>
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          Rails Follow-up Osaka
        </h1>
        <h2 class="subtitle">
          Enjoy CODE
        </h2>
      </div>
    </div>

    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a>Home</a></li>
            <li><a>Blog</a></li>
            <li><a>Events</a></li>
            <li><a>About</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</header>
